.product{
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 1.5rem;
    .description{
        margin-top: 40px;
        .content{
            white-space: wrap;
            color: rgba(0,0,0,.8);
            font-size: .875rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.7;
        }
    }
}

.img-product{
    max-width: 389px;
    max-height: 389px;
    margin:0;
    border-radius: 10px;
}
.quality{
    margin: 10px 0;
    #quality{
        margin-left: 23px;
        width: 94px;
    }
}