.aboutpage {
    padding-top: 100px;
    padding-bottom: 40px;
    .text{
        font-size: 1.6rem;
        text-indent: 30px;
    }
    .img{
        text-align: center;
        img{
            width: 100%;
        }
    }
}