.cart{
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    cursor: url('../../../../assets/img/CloseSquare.svg'),auto;
    .modal-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:30px;
        margin: 10px;
        border-radius: 10px;
        background-color: white;
        width: 650px;
        top: 0;
        right: 0; 
        animation: myAnim 0.3s ease-in-out 0s 1 normal forwards;
        cursor: default !important;
        .modal-close{
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 2.5rem;
            &:hover{
                cursor: pointer;
            }
        }
        .text-cart{
            margin-top: 2rem;
            color: var(--color_main);
            font-size: 1.6rem;
        }
        .btn{
            padding: 1.72rem 4rem;
            margin-top: 2rem;
            border: 2px solid var(--color_main);
            text-align: center;
            font-size: 2rem;
            border-radius: 40px;
            &:hover{
                background-color: white;
                color: var(--color_main);
                border: 2px solid var(--color_main);
            }
        }
    }
}
@keyframes myAnim {
	0% {
		transform: scaleX(0);
		transform-origin: 100% 100%;
	}

	100% {
		transform: scaleX(1);
		transform-origin: 100% 100%;
	}
}
