.card-prop{
    width: 310px;
    min-height: 400px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px !important; 
    transition: tranform 0.25s ease-in-out;
    position: relative;
    .img-product{
        width: 100% !important;
        height: 310px;
        object-fit: contain;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }
    .btn-quickview{
        position: absolute;
        padding: 12px 25px;
        top:255px;
        right: 7px;
        left: 161px;
        visibility: hidden;
        border: none;
        border-radius: 20px;
        background-color: var(--color_main);
        color: white;
        font-size: 1.3rem;
        &:hover{
            background-color: white;
            padding: 10px 25px;
            color: var(--color_main);
            border: 2px solid var(--color_main);
        }
    }
    .card-title{
        font-size: 1.8rem;
    }
    .card-body{
        .price{
            display: flex;
            justify-content: space-between;
            margin: 0;
            font-size: 1.3rem;
            .price-right{
                text-decoration: line-through;
            }
        }
    }
    
}
.card-prop:hover{
    transform: translate(1.5px,-1.5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    // .img-product{
    //     content: url('../../../../../../assets/img/515Kem-B.jpg');
    // }
    .btn-quickview{
        visibility: visible;
    }
}
.bodyreview{
    display: flex;
    .main-review{
        flex: 1;
        height: auto;   
        .review-slideshow{
            height: 389px;
        }
        
              
    }
    .details-prod{
        flex: 1;
        height: auto;
        margin-left: 10px;
        .price-prod{
            .price-left{
                font-size: 1.6rem;
            }
            .price-right{
                padding-left: 15px;
                text-decoration: line-through;
            }
        }
        .size-prod{
            margin-top: 20px;
            display: flex;
            align-items: center;
            .size-details{
                margin-left: 5px;
            }
        }
        .btn-success{
            margin-top: 20px;
            background-color: var(--color_main) !important;
        }
    }
}
.carousel-item{
    text-align: center;
}
.pvBody{
    border: 1px solid black !important;
    margin-top: 20px !important;
}
.pvBody img{
    margin-right: 5px;
}
.img-123{
    max-width: 389px;
    max-height: 389px;
    margin:0;
    border-radius: 10px;
}


