.card-prop{
    width: 310px;
    height: 410px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
    .card-title{
        font-size: 1.8rem;
    }
    .card-body{
        .price{
            display: flex;
            justify-content: space-between;
            margin: 0;
            font-size: 1.3rem;
            .price-right{
                text-decoration: line-through;
            }
        }
    }
    // :hover{
    //     transition: translate(1px,-1px);
    //     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    // }
}