.loginpage{
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    .login-box{
        margin: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 400px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        .form-control{
            font-size: 1.5rem;
        }
        h1{
            font-size: 2rem;
        }

        .login-form {
            width: 80%;
            display: flex;
            flex-direction: column;
        }
        
    }
}
