.title{
    width: 100%;
    display: flex;
    align-items: center;
    .doubleline{
        flex: 1;
        height: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .title-group{
        color: #0f5bff;
        font-size: 2rem;
    }
}