
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400;1,500;1,600&display=swap');

.header{
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    align-items: center;
    display: flex;
    .navbar{
        display: flex;
        justify-content: space-between;
        color: var(--color_main);
        .navbar-list{
            list-style: none;
            padding-left: 0;
            display: flex;
            align-items: center;
            .navbar-itemfunc{
                font-size: 1.5rem;
                margin: 0 20px;
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                &:hover{
                    .subNav{
                        display: block;
                    }
                }
                &::before{
                    content: "";
                    border: 30px solid;
                    border-color: transparent;
                    position: absolute;
                    top:-5px;
                }
            }
            
        }
    }
}
img{
    margin-right: 15px;
}
.li{
    list-style: none;
}
.logo{
    display: flex;
    font-size: 1.5rem;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}
.logo-text{
    list-style: none;
}
.logo-text-brand{
    font-weight: 600;
    font-style: italic;
}
.button-signup{
    border-radius: 12px;
    width: 100px;
    height: 30px;
    color: #1D267D;
    border: none;
    margin-right: 15px;
    background-image: var(--color_main);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:hover{
        background-color: rgb(255,255,255,80%);
        cursor: pointer;
    }
}
.button-login{
    border-radius: 12px;
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: linear-gradient(0, #1D267D, #0C134F);
    &:hover{
        color: #1D267D;
        background-image: var(--color_main);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
    }
}
