
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400;1,500;1,600&display=swap');

.header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 998;
    align-items: center;
    display: flex;
    .navbar{
        display: flex;
        justify-content: space-between;
        color: var(--color_main);
        .navbar-list{
            list-style: none;
            padding-left: 0;
            display: flex;
            align-items: center;
            color: var(--color_main);
            .navbar-itemfunc{
                font-size: 1.5rem;
                margin: 0 20px;
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                &:hover{
                    .subNav{
                        display: block;
                    }
                }
                &::before{
                    content: "";
                    border: 30px solid;
                    border-color: transparent;
                    position: absolute;
                    top:-5px;
                }
            }
        }
        .user-tab{
            margin-left: 60px;
            width: 150px;
            display: flex;
            justify-content: space-around;
            .btn-cart{
                border: 0;
                background: transparent;
            }
        } 
    }
}
img{
    margin-right: 15px;
}
.li{
    list-style: none;
}
.logo{
    display: flex;
    font-size: 1.5rem;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}
.logo-text{
    padding: 0;
    list-style: none;
}
.logo-text-brand{
    font-weight: 600;
    font-style: italic;
}


